{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6 padding-none">
			<h2>{{category.name}}</h2>
		</div>
		<div class="col-md-4 text-right new">
			<a href="{{url_for('newItem', category_id = category.id)}}">Add a new item to this category</a>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
      	{% if messages %}
        <ul>
        	{% for message in messages %}
            	<li> <strong> {{ message }} </strong> </li>
        	{% endfor %}
        </ul>
        {% endif %}
    	{% endwith %}
	</div>

	{% for i in items %}
		<div class="row">
			<div class="col-md-1"></div>
	    	<div class="col-md-3">
				<span class="name"><p>{{i.name}}</p></span>
			</div>
			<div class="col-md-5">
				<p>{{i.description}}</p>
			</div>
			<div class="col-md-1 text-right">
				<a href="{{url_for('editItem', category_id = category.id, item_id=i.id)}}">Edit</a>
			</div>
			<div class="col-md-1 text-right">
				<a href="{{url_for('deleteItem', category_id = category.id, item_id=i.id)}}">Delete</a>
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endfor %}
{% endblock %}